/***************/
/****IMPORTS****/
/***************/
@import 'config/colors';
@import 'config/animations';
@import 'config/font';
@import 'mixins/basic-layout';



/**************/
/**CSS REMEDY**/
/**************/
* {
  @include remedy-layout;
}


/**********************/
/****** STYLING *******/
/**********************/

body {
  // animation-name: onHoverAnimation;
  // animation-duration: 3s;
  // animation-timing-function: linear;
  // animation-iteration-count: infinite;

  background: url("../images/p5.png");
  background-color: $c-grey--dark;

  @include flex-box-centerd-column;

  font-family: 'Work Sans', sans-serif;
  text-align: center;
  color: $c-white;
  position: relative;
  transition: background 1s ease;
}

main {
  margin-top: 100px;
  @include flex-box-centerd-column;
}


h1{
  font-family: 'game_of_thronesregular','Work Sans', sans-serif;
  font-weight: 800;
  position: relative;
  opacity: 0;
  animation-name: show-up;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-delay: .3ss;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

h2{
  font-weight: 500;
}

p {
  font-family: 'game_of_thronesregular','Work Sans', sans-serif;
  font-size: 13px;

  margin-bottom: 20px;
}

.deaths{
  margin-top: 20px;
}

.theDead {
  margin: 50px 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  width: 100%;
  // background-color: pink;
  padding: 10px;
  gap: 5px;

  .personWhoDied {
    width: 20px;
    height: 20px;
    background-color: $c-black;
    border-radius: 50%;
    transition: .3s;
    position: relative;
    z-index: 9999;

    .toolTip {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(5, 1fr);
      gap:0 30px;

      width: 490px;
      height: 210px;
      background-color: white;
      color: $c-black;
      border-radius: 10px;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      position: absolute;
      top: -218px;
      left: -234px;
      z-index: 1;
      text-align: left;
      padding: 10px 20px;
      visibility: hidden;
      transform: .3s;

      &:before{
        content: "";
        position: absolute;
        bottom: -10px;
        left: 234px;
        rotate: 45deg;
        background-color: white;
        width: 20px;
        height: 20px;
        z-index: -99999;
      }

      h2 {
        grid-area: 2 / 1 / 3 / 3;
        font-size: 1.4rem;
        margin-bottom: 10px;
        // background-color: aquamarine;
      }
      p {
        // font-weight: 800;
        font-family: 'Work Sans', sans-serif;
        font-size: 16px;
        margin: 5px 0;

        &:first-of-type{
          grid-area: 1 / 1 / 2 / 2; 
          font-weight: 800;
          // margin-top: 15px
          // background-color: rgb(161, 163, 221);
        }
        &:nth-of-type(2){

          grid-area: 3 / 1 / 4 / 2;
          // background-color: pink;
        }
        &:nth-of-type(3){

          grid-area: 4 / 1 / 5 / 2;
          // background-color: rgb(177, 66, 84);
        }
        &:nth-of-type(4){

          grid-area: 5 / 1 / 6 / 3;
          // background-color: rgb(38, 132, 41);
        }
        &:nth-of-type(5){

          grid-area: 3 / 2 / 4 / 3;
          // background-color: rgb(198, 171, 19);
        }

        &:nth-of-type(6){

          grid-area: 4 / 2 / 5 / 3;
          // background-color: rgb(215, 192, 255);
        }
      }
    }

    &:hover{
      scale: 1.1;
      cursor: pointer;
      transition: .3s;

      .toolTip{
        scale: .9;
        visibility: visible;
        transition: .3s;
      }
    }
  }
}


.logo-background {
  width: 25vw;
	height: 25vw;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	// background: url("../images/targaryen-logo.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	z-index: -1;
	opacity: 0.2;
}



.person {
  margin-top: 120px;
  #icon{
    scale: 1.5;
  }
}

.icon:hover {
  opacity: .7;
}


.sword {
  @include flex-box-centerd-row;
  position: relative;
  margin: 10px 0 10px;
  width: 200px;
  opacity: 0;

  animation-name: bounce, shake;
  animation-duration: 1s, 4.2s,;
  animation-iteration-count: 1, infinite;
  animation-delay: 2.5s, 3s;
  animation-timing-function: linear, linear;
  animation-fill-mode: forwards, forwards;

  p {
    margin: 40px 0 0 5px;
  }

  #crown {
    fill: $c-white;
    width: 30px;
    position: absolute;
    top: 20px;
    animation: none;
  }
  svg{
    width:15px;
    height:auto;

    .st0{fill:none;}
    .st1{fill:#A93000;}
    .st2{fill:#AF3E20;}
    .st3{fill:#822500;}
    .st4{fill:#8E3A24;}
    .st5{fill:#FFD802;}
    .st6{fill:#DFBD00;}
    .st7{fill:#F8F8F8;}
    .st8{fill:#D6D5D5;}
    .st9{fill:#949494;}
    .st10{fill:#C6C6C6;}

    &:nth-of-type(2){
      animation: chop-right 4.2s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
      animation-delay: 3s;
      transform: scaleX(-1);
      margin-left: -10px;
    }

    &:nth-of-type(3){
      animation: chop-left 4.2s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
      animation-delay: 3s;
      margin-left: 7px;
      transform: scaleX(-1);
    }
  }


}



#tooltip {
  position: absolute;
  background: #444444;
  color: #ffffff;
  font-family: sans-serif;
  padding: 0.5em;
  box-shadow: 5px 3px 14px -1px rgba(0,0,0,0.46);
  border-radius: 5px;
  opacity: 0;
}



table {
  margin-top: 100px;
  background-color: $c-white;
  border-radius: 10px;
  border-collapse: collapse;
  color: white;
  /*   border:3px solid black; */

  th {
    background-color: $c-grey;
    padding: 10px 100px 5px 10px;
    text-align: left;
  }

  td {
    padding: 10px 0 10px 10px;
  }

  tr {
    background-color: $c-grey--dark;

    &:last-child {
      padding-bottom: 30px;
    }
  }
}
