// Primary colors
$c-black: #2A2A2A;
$c-white: #fff;
$c-grey: #3738376f;

// House Colors
$c-targaryen: #000;
$c-baratheon: #ffe147;
$c-greyjoy: #000;
$c-lannister: #e12812;
$c-martell:  #F0863A;
$c-stark: #565656;
$c-tyrell: #050;
$c-tully: #00173d;
$c-arryn: #121745;

